# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Unity Version Control / temp
/.plastic/
/.utmp/
ignore.conf

# IDE
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp

# Builds
*.apk
*.aab
*.unitypackage

# OS
.DS_Store
Thumbs.db
crashlytics-build.properties
sysinfo.txt
